/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.choose-card {
    height: auto;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5) !important;
}

.login-and-register-card-container {
    margin-bottom: 0;
}

.ul-login-and-register-card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: auto;
    margin-left: -.625rem;
    border-bottom: 0;
    justify-content: center;
}

.login-and-register-card {
    color: white;
    background-color: transparent;
    font-weight: bold;
}

#video {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 50%;
    width: 50%;
}

#player {
    width: 100%;
    height: 100%;
}

.col-lg-6 {
    padding: 5px !important;

}

.spinner-grow{
    display: none;
}

.spinner--db{
    display: block;
    text-align: center;
}



    .active, .login-and-register-card:hover {
        background-color: #2E9450;
        color: white;
        font-weight: bold;
    }
.login-and-register-ul-element{
    list-style-type: none;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.login-and-register-li-element {
    display: inline-block;
}


.main-page-navbar-button, .main-page-navbar-button:visited, .main-page-navbar-button:hover, .main-page-navbar-button:active {
    color: white; 
    font-size: 1.25rem; border: none; text-decoration: none;
    padding: 0.4rem;
}

.spinner-grow {
    display: none;
}

.spinner--db {
    display: block;
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #1FB264;
        border: 4px dashed #ffffff;
    }

.image-title-wrap {
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 60px 0;
    }

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none; 
}
.card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card a {
    color: initial; 
}

.card a:hover {
    text-decoration: initial;
}

.card .text-muted i {
    margin: 0 10px;
}